/*corpo da página*/
body {
  background-color: #ffffff;
  /* Cor de fundo branca */
  font-family: "Inter", sans-serif;
  /* Fonte Inter*/
  color: #000000;
  /* Cor do texto padrão (preta) */
}

/* Botões like/dislike */
.icon-button {
  background: none;
  /* Remove o fundo */
  border: none;
  /* Remove a borda */
  cursor: pointer;
  /* Altera o cursor para "mãozinha apontando " ao passar por cima */

}

.icon-button:hover {
  opacity: 0.6;
  /* Deixa o botão mais translúcido, mostrando que ali dá para fazer algo  */
}

/* Tamanho dos ícones */
.fs-2 {
  font-size: 2rem;
}

/* Cor do ícone quando o usuário curtir */
.like {
  color: #2bff00;
}

/* Cor do ícone quando o usuário não curtir */
.dislike {
  color: #ff0000;
}